body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 0.2em;
    letter-spacing: 0.085em;
    border-spacing: 0.5em;
}

h1{
    letter-spacing: 1vw;
    padding: 1vw 6vw;
    text-align: center;
    text-shadow: 0.7px 1.5px 8px rgba(0, 0, 0, 0.425);
}

.h2class{
    justify-self: center;
    width: 100%;
    max-width: 900px;
    color: white;
    background-color: rgba(49, 76, 90, 0.829);
    /* background-color: rgb(73, 145, 204);  */
    min-width: 0;;
    text-align: center;
    margin: 0;
    border-radius: 13px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.card{
    max-width: 800px;
    background-color: rgba(67, 163, 241, 0.705);
    padding: 20px 50px;
    margin: 0 0; 
    border-radius: 13px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input[type= text],input[type= number],input[type = email],input[type = tel],input[type = date], select,textarea{
    border-radius: 5px;
    width: 95%;
    padding : 0.5vw 1vw;
    margin: 0.3vw;
    font-family: inherit; 
    word-spacing: 0.2em;
    letter-spacing: 0.085em;
    border-spacing: 0.5em;
    border: 0;
}

select{
    width: 98%;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 400px) {
    .card{
        width: auto;
    }
    .borderstyle{
        width: 100%;
    }
    .container{
        width: 100%;
    }
  }

  @media only screen and  (max-width: 500px) and (min-width : 401px) {
    .card{
        width: 77%;
    }
    .borderstyle{
        width: 100%;
    }
    .container{
        width: 100%;
    }
  }


@media only screen and  (max-width: 525px) and (min-width : 501px) {
    .card{
        width: 81%;
    }
    .borderstyle{
        width: 100%;
    }
    .container{
        width: 100%;
    }
  }

  @media only screen and  (max-width: 700px) and (min-width : 526px) {
    .card{
        width: 84%;
    }
    .borderstyle{
        width: 100%;
    }
    .container{
        width: 100%;
    }
  }

  @media only screen and  (max-width: 800px) and (min-width : 701px) {
    .card{
        width: 88%;
    }
    .borderstyle{
        width: 100%;
    }
    .container{
        width: 100%;
    }
  }

@media only screen and (min-width: 800px) {
    .card{
        width: 800px;
    }
}

.btn{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row;
}
button{
    padding: 10px ;
    color: white;
    background-color: rgba(49, 76, 90, 0.829);
    border:none;
    border-radius: 3px;
}

button:hover{
    cursor: pointer;
}

.borderstyle{
    display: flex;
    flex-flow: column;
    margin: 0;
    padding : 0;
    margin: 15px 0 0 0;
    /* background-color: black; */
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.411);
    border-radius: 13px;
}

.borderstyle:last-child .card{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

